Package: ir.parsa2820.powergg
Name: PowerGG
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Parsa Mohammadian
Author: Parsa Mohammadian
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-11+debug
Installed-Size: 136
